@model CMS_SYSTEM.Models.ViewModels.WidgetViewModel

@{
    ViewData["Title"] = "Edit Widget";
}

<h1>Edit Widget</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HtmlBody" class="control-label"></label>
                <input asp-for="HtmlBody" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="HtmlBody" class="control-label"></label>
                <input name="HtmlBody"  id="HtmlBody" class="form-control" />
                <span asp-validation-for="HtmlBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<script src="~/ckeditor/ckeditor.js"></script>
@section Scripts{ 
<script>


    //    CKEDITOR.replace("HtmlBody1");
    //CKEDITOR.editorConfig = function (config) {
    //    // Define changes to default configuration here. For example:
    //    // config.language = 'fr';
    //    // config.uiColor = '#AADC6E';
    //    config.toolbar = 'source';
    //};

</script>

}