@*@model IEnumerable<CMS_SYSTEM.Models.Websites>*@
@{
    ViewData["Title"] = "Index";
}

<h1>Websites List</h1>
<br />
<p>
    <a asp-action="Create" class="createButton">Create New</a>
</p>
<hr />


<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created By</th>
            <th scope="col">Domain URL</th>
            <th scope="col">Options</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="MyTbody"></tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>


    AllWebsites();

    function AllWebsites() {
        $.get('/Profile/GetWebsites', function (data) {
            var s = "";
            $.each(data, function (i, v) {
                if (v.isDeleted == false) {
                    s += '<tr id="' + v.id + '">' +
                        '<td>' + v.name + '</td>' +
                        '<td>' + v.createdBy + '</td>' +
                        '<td>' + v.domainUrl + '</td>' +
                        '<td>' +
                        //'<button type="button" id="' + v.id + '" class="btn btn-warning" data-toggle="modal" onclick="GetWidget(id)" data-target="#editModel">Edit</button>' +
                        //' | ' +
                        //'<a href="/widget/details?id=' + v.id + '" class="btn btn-primary">View</a>' +

                        '<a href="/Contents/Index?websiteId=' + v.id + '" class="disable btn btn-success">Widgets</a>' +
                        ' | ' +
                        '<a href="/Profile/Edit?id=' + v.id + '" class="disable btn btn-danger">Edit</a>' +
                        ' | ' +
                        '<a href="/Profile/Details?id=' + v.id + '" class="disable btn btn-warning">Details</a>' +
                        ' | ' +
                        '<a href="/Profile/Open?id=' + v.id + '" class="disable btn btn-primary">Open</a>' +
                        ' | ' +
                        '<a href="/Profile/AddUser?id=' + v.id + '" class="disable btn btn-primary">Add User</a>' +
                        ' | ' + '<td>' +
                        '<label class="switch" >' +
                        '<input type="checkbox" class="api-btn" onclick="redirect(' + v.id + ');" checked/>' +
                        '<span class="slider round"></span>' +
                        '</label >' +
                        '</td >' +


                        '</td>' +
                        '</tr>';
                }
               
            }

            );
            var tbody = $('.MyTbody');
            if (tbody != null) {
                tbody.html('');
            }
            $('.MyTbody').empty();
            $('.MyTbody').append(s);
        });
    }

</script>