@{
    ViewData["Title"] = "containar";
}

<div id="container">
    <div>
        <div id="header">
            <button id="hideAndShow" class="w3-btn" onclick="HideAndShow()">-</button>
            <button id="deleteIcon" class="fa fa-trash w3-btn" onclick="delete_()"></button>
        </div>
        <div id="content">
            <br>
            <div id="AddContentHere">

            </div>
            <button id="AddWidget" onclick="addJQwidget()"><li class="fa fa-plus"></li> Add Widget</button>
            <div class="btn-group">
                <button class="fa fa-align-left" id="left" onclick="moveLeft()"></button>
                <button class="fa fa-align-center" id="center" onclick="moveCenter()"></button>
                <button class="fa fa-align-right" id="right" onclick="moveRight()"></button>
            </div>
        </div>

    </div>
</div>

