/* Header Style */
#header {
    background-color: grey;
    border-radius: 5px 5px 0px 0px;
    height: 6vh;
    width: 60vw;
}

#header button {
    width: 5vw;
    height: 6vh;
}

#header button, #header button:focus {
    outline: 0;
    box-shadow: none !important;
}

#deleteIcon {
    float: right;
    border-radius: 0px 5px 0px 0px;
}

#hideAndShow {
    border-radius: 5px 0px 0px 0px;
}
/* End of Header */


#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

#content {
    position: relative;
    background-color: #ded9d9;
    width: 60vw;
    height: 50vh;
}


#hideAndShow:hover, #deleteIcon:hover {
    box-shadow: none;
    background-color: #ded9d9;
}

#AddWidget {
    margin: 32px 0px 0px 30px;
    border-radius: 5px;
    box-shadow: none;
    position: absolute;
}

#AddWidget:hover {
    background-color: grey;
}

#AddContentHere {
    margin: auto;
    width: 55vw;
    height: 35vh;
    display: flex;
    align-items: baseline;
    /* justify-content: space-between; */
    flex-flow: row wrap;
    overflow: auto;
    background-color: #757171;
}

/* btn-Group */
.btn-group {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 100%;
}

.btn-group button {
    background-color: grey;
    border: 1px solid grey;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 20vw;
    float: left;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: black;
}

.table {
    color: white;
    background-color: #4986bb;
}

.table > tbody > tr:nth-of-type(odd) {
    background-color: #b1c5ff;
    color:black;
}
    .table > tbody > tr:nth-of-type(even) {
        background-color: #728fe6;
        color: cornsilk;
    }