body {
    font-family: 'Roboto', sans-serif;
    top: 0;
    margin: 0;
    background-color: #1e1a1a;/*1e1a1a*/
}
.angle {
    font-size: 40px;
    width: 60px !important;
}
/* Navbar Style*/
nav {
  display: flex;
}
ul {
  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-left: 5px;
  margin-bottom: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
li a:hover  {
  color: white;
  background-color: rgb(0, 174, 255);
}

/* .active {
  background-color: rgba(255, 255, 255, 0.849);
} */

/* End of Navbar */

/* Menu Icon */
.menuIconContainer {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 174, 255);
    margin: 6px 0;
    transition: 0.5s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

/* End Of Menu Icon */

.inter-2 {
    color: white;
    background-color: #2892cf;
    border-color: #2d8fdf;
    position: relative;
    width: 85%;
    height: 85%;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    margin-left: 4em;
    margin-right: 2em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Side Navbar */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #325e77;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(0, 174, 255);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .6s;
  padding: 20px;
  height: 90vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* End of side Navbar */

/* FA */
.fa {
  color: rgb(0, 162, 255);
}